################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/OpenGeneratorSVC/bin
/OpenGeneratorSVC/obj
/OpenGeneratorSVCPublicado
/OpenGeneratorWeb/dist
/OpenGeneratorWeb/node_modules
/fwGenerator v2.zip
/.vs